@import "../../../stylesheets/partials/grids";
@import "../../../stylesheets/partials/base";
@import "../../../styles";

section {
  margin-left: 228px;

  .mat-expansion-panel-header.unit-header {
    height: 67px !important;
    padding: 0 !important;

    ::ng-deep .mat-expansion-indicator {
      align-content: center;
      align-items: center;
      display: flex;
      width: 48px;
      height: 67px;
      justify-content: center;
    }
  }

  .header-title-divider {
    border: 1px solid #E7EEF7 !important;
    height: 67px !important;
  }

  ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .unit {
    margin-bottom: 24px;
    width: 1166px !important;

    .unit-info {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .unit-no {
        font-family: $boggle-bold;
        text-transform: uppercase;
        font-size: $font-12;
        border: 1px solid #9B9B9B;
        border-radius: 3px;
        padding: 6px 9px;
        color: #9B9B9B;
        text-align: center;
      }

      .unit-time {
        font-family: $boggle-medium;
        font-size: $font-12;
        color: #4A4A4A;
      }
    }

    .unit-actions {
      display: flex;
      align-items: center;

      .action-name {
        font-family: $boggle-medium;
        font-size: $font-12;
        text-transform: uppercase;
        color: rgba(74, 74, 74, 0.67);
        letter-spacing: 0;
        text-align: right;
        line-height: 17px;
      }
    }

    .mat-action-row.action-row {
      justify-content: center;
      padding: 24px 0;
    }
  }

  .panel-content-divider {
    border: 2px solid #E7EEF7;
  }
}


::ng-deep .mat-slider {
  height: 9px;
  width: 526px !important;
  max-width: 527px !important;

  .mat-slider-wrapper {
    width: 510px !important;
    max-width: 527px !important;

    .mat-slider-thumb-container {

      .mat-slider-thumb {
        right: -13px !important;
        bottom: -13px !important;
      }
    }
  }
}

::ng-deep .mat-slider.mat-slider-horizontal {
  padding: 0 8px !important;
  width: 526px !important;
  max-width: 527px !important;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  width: 520px !important;
  max-width: 527px !important;
  border-radius: 4.5px;
  height: 9px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background {
  background: #EFF0F4 !important;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-background,
::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
  border-radius: 4.5px;
}

::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #5C768A;
  border-radius: 4.5px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  height: 19px;
  width: 19px;
  background-color: white;
  border: solid 2px gray;
  bottom: -13px;
  right: -20px;
}

::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

// Slider
.slider-container {

  .range-values {
    width: 539px !important;
    list-style: none;
    padding: 0 !important;
    display: block;

    .value {
      display: inline-block;
      font-size: $font-12;
      color: #9B9B9B;
      padding-right: 50px;

      &:last-child {
        padding: 0 !important;

        .selected-value {
          padding: 5px 5px;
        }
      }
    }

    .selected-value {
      color: white;
      background: #C798D1;
      border-radius: 50%;
      padding: 4px 7px;
      text-align: center;
    }
  }
}

//  Standalone body
article {
  padding: 23px;
}

