@import "../../../stylesheets/partials/grids";
@import "../../../stylesheets/partials/base";
@import "../../../styles";

section {
  margin-left: 228px;

  .mat-expansion-panel-header.unit-header {
    height: 67px !important;
    padding: 0 !important;

    ::ng-deep .mat-expansion-indicator {
      align-content: center;
      align-items: center;
      text-align: center;
      display: block;
      width: 48px;
    }
  }

  .header-title-divider {
    border: 1px solid #E7EEF7 !important;
    height: 67px !important;
  }

  ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .unit {
    margin-bottom: 24px;
    width: 1166px !important;

    .unit-info {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .unit-no {
        font-family: $boggle-bold;
        text-transform: uppercase;
        font-size: $font-12;
        border: 1px solid #9B9B9B;
        border-radius: 3px;
        padding: 6px 9px;
        color: #9B9B9B;
        text-align: center;
      }

      .unit-time {
        font-family: $boggle-medium;
        font-size: $font-12;
        color: #4A4A4A;
      }
    }

    .unit-actions {
      display: flex;
      align-items: center;

      .action-name {
        font-family: $boggle-medium;
        font-size: $font-12;
        text-transform: uppercase;
        color: rgba(74, 74, 74, 0.67);
        letter-spacing: 0;
        text-align: right;
        line-height: 17px;
      }
    }

    .mat-action-row.action-row {
      justify-content: center;
    }
  }

  .panel-content-divider {
    border: 2px solid #E7EEF7;
  }
}

// Slider
.slider {
  border-radius: 4.5px;
  width: 590px;
  height: 9px;
}

.range-values {
  list-style: none;
  padding: 10px 0 !important;

  .value {
    display: inline-block;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0.62px;
    padding: 0 56px 0 0;

    &:last-child {
      padding-right: 0 !important;
    }

    &:first-child {
      padding-left: 0 !important;
    }
  }

  .selected-value {
    color: white;
    background: #C798D1;
    /* border: 1px solid #C798D1; */
    border-radius: 15px;
    padding: 5px 9px;
  }
}

//  Standalone body
article {
  padding: 23px;
}

