<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" mode="over" opened>
    <div class="side-nav-container">
      <div class="brand">
        <img alt="NIE" class="logo" src="../../../assets/nie-logo.png">
      </div>

      <div class="subject">
        <div class="logo">
          <mat-icon>book</mat-icon>
        </div>
        <div class="info">
          <div class="name">Engineering Mathematics</div>
          <div class="code">MA111</div>
        </div>
      </div>

      <mat-nav-list class="mat-nav-list" role="navigation">
        <a href="javascript:void(0)" mat-list-item>
          <span class="name m-r-25">Define Course Outcome</span>
          <mat-icon class="chat-icon text-success name-selected">check_circle</mat-icon>
        </a>
        <a href="javascript:void(0)" mat-list-item>
          <span class="name">Add Units & Duration</span>
        </a>
        <a href="javascript:void(0)" mat-list-item>
          <span class="name">Course Outcome Mapping </span>
        </a>
      </mat-nav-list>

      <div class="upload-file text-center">
        <button mat-stroked-button><span class="name">Upload File</span></button>
      </div>

      <app-hangouts></app-hangouts>
    </div>
  </mat-sidenav>
  <mat-sidenav-content cdkScrollable></mat-sidenav-content>
</mat-sidenav-container>
