@import "../../../stylesheets/partials/grids";

.mat-sidenav {

  .side-nav-container {
    height: 1345px !important;
    width: 228px !important;
    background: #fff !important;

    .brand {
      padding: 10px 15px 40px 10px;
      width: 203px;
      height: 91px;
      display: inline-block;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}


.subject {
  color: #3E9FED;
  font-family: $boggle-regular;
  letter-spacing: 0;

  .logo {
    vertical-align: sub !important;
    font-size: $font-16;
    padding-left: 16px;
  }

  .info {
    padding-left: 21px;
    padding-right: 49px;

    .name {
      font-size: $font-14;
    }

    .code {
      margin-top: 5px;
      font-size: $font-16;
      line-height: 20px;
    }
  }

}

.mat-nav-list {
  margin-top: 37px;
  width: 228px;

  .mat-list-item {
    height: 38px !important;

    &:focus {
      border-left: 3px solid #3E9FED;

      .name {
        color: #4A4A4A;
        font-family: $boggle-bold;
      }
    }

    .mat-list-item-content {
      font-family: $boggle-regular;
      padding-right: 15px !important;
      padding-left: 24px !important;
      font-size: 13px;
      color: #4A4A4A;

      .name-selected {
        display: flex;
        align-items: center;
        font-size: 18px !important;
      }
    }
  }
}

.upload-file {
  margin-top: 32px;

  button {
    border: 1px solid #5C768A;
    border-radius: 2px;
    font-family: $boggle-bold;
    font-size: $font-14;
    color: #5C768A;
    text-transform: uppercase;
  }
}
