<section>
  <mat-toolbar class="header">
    <div class="main-info">
      <span class="name">Step 02</span>
      <span class="divider m-l-5 m-r-6 v-align-middle"></span>
      <span class="title">Add Units & Duration</span>
    </div>
    <div class="additional-info">
        <span class="name">
            Total Hours Added
        </span>
      <label class="label label-warning">
        24 Hrs
      </label>
    </div>
    <div class="divider m-l-23 m-r-20"></div>
    <div class="main-actions">
      <span class="name">Add Units</span>
      <app-minus-plus-button (inputValue)="manageUnits($event)" class="d-inline v-align-middle"></app-minus-plus-button>
    </div>
  </mat-toolbar>
</section>
