<div class="hangout-container">
  <div class="header clearfix">
    <span class="name">Members (4)</span>
    <mat-icon class="chat-icon">chat</mat-icon>
  </div>

  <mat-divider class="mat-divider"></mat-divider>
  <div class="persons-list">

    <div class="person clearfix" mat-ripple>
      <div class="avatar">
        <img alt="person 1" src="../../../assets/member-1.jpeg"/>
      </div>
      <div class="person-info">
        <p class="name">Deepak Chowdary</p>
        <p class="designation">Asst. Professor</p>
      </div>
    </div>
    <div class="person clearfix" mat-ripple>
      <div class="avatar">
        <img alt="person 2" src="../../../assets/member-2.jpeg"/>
      </div>
      <div class="person-info">
        <p class="name">Deepak Chowdary</p>
        <p class="designation">Asst. Professor</p>
      </div>
    </div>
    <div class="person clearfix" mat-ripple>
      <div class="avatar">
        <img alt="person 3" src="../../../assets/member-3.jpeg"/>
      </div>
      <div class="person-info">
        <p class="name">Deepak Chowdary</p>
        <p class="designation">Asst. Professor</p>
      </div>
    </div>
  </div>
</div>
